[Unit]
Description=jtop - Jetson Stats Monitor Service
After=network.target

[Service]
Type=simple
Environment="JTOP_SERVICE=True"
ExecStart=/usr/bin/jtop --force
Restart=on-failure
RestartSec=5
SyslogIdentifier=jtop

[Install]
WantedBy=multi-user.target
